.html,body{width: 100%;min-height: 100%;background-color: #f5f5f5;}

        [v-cloak]{
            display: none;
        }
        *{padding: 0;margin: 0;}
        .content{width: 100%;padding: 20px;background-color: #f5f5f5;box-sizing: border-box;}

        .base_title{display: flex;flex-direction: row;align-items: center;padding: 20px 0;}
        .base_title >div:nth-of-type(1){width: 8px;height: 22px;border-radius: 4px;background-color: #67A0FC;}
        .base_title >div:nth-of-type(2){font-size: 18px;color: #101010;font-weight: 600;margin-left: 15px;}

        .data_content{width: 100%;height: 287px;background-color: #fff;border-radius: 20px;box-sizing: border-box;}
        .data_flex_content{width: 100%;display: flex;flex-direction: column;align-items: center;}
        .data_flex_margin{margin: 0 18px;}
        .data_flex{flex: 1;height: 203px;background-color: #f5f5f5;border-radius: 10px;overflow: hidden;}
        .data_flex_title{width: 100%;height: 110px;display: flex;flex-direction: row;align-items: center;padding: 0 30px;justify-content: space-between;box-sizing: border-box;}
        .title_left{display: flex;flex-direction: column;align-items: center;justify-content: center;}
        .title_left >img{width: 48px;height: 48px;}
        .title_left >div{font-size: 16px;color: #fff;}
        .title_right{font-size: 42px;color: #fff;font-weight: 600;}
        .data_flex_item{width: 100%;display: flex;flex-direction: row;align-items: center;padding: 0 30px;justify-content: space-between;box-sizing: border-box;margin-top: 15px;}
        .data_flex_item >div:nth-of-type(1){display: flex;flex-direction: row;align-items: center;}
        .data_flex_item >div:nth-of-type(1) >div{font-size: 16px;color: #666;}
        .data_flex_item >div:nth-of-type(1) >img{width: 20px;height: 20px;margin-left: 5px;}
        .data_flex_item >div:nth-of-type(2){font-size: 16px;color: #81B337;}
        

        .chart_content{width: 100%;height: 344px;margin-top: 18px;box-sizing: border-box;display: flex;flex-direction: row;align-items: center;}
        .chart_left{flex:1;height: 344px;background-color: #fff;border-radius: 20px;padding: 0 30px;box-sizing: border-box;}
        .chart_right{flex:2;height: 344px;background-color: #fff;border-radius: 20px;margin-left: 18px;padding: 0 30px;box-sizing: border-box;}
        .chart_right_content{width: 100%;display: flex;flex-direction: row;align-items: center;justify-content: space-between;}

        .other_content{width: 100%;height: 454px;margin-top: 18px;box-sizing: border-box;display: flex;flex-direction: row;align-items: center;}
        .other_content_left{flex:1;height: 454px;}
        .other_content_left_item{width: 100%;height: 218px;display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
        .other_content .item{flex: 1;height: 218px;background-color: #fff;border-radius: 20px;padding:0 30px;box-sizing: border-box;margin-right: 18px;}
        .other_content .item:last-child{margin-right: 0;}
        .item .title{display: flex;flex-direction: row;align-items: center;padding-top: 20px;}
        .item .title >div:nth-of-type(1){width: 8px;height: 22px;border-radius: 4px;background-color: #67A0FC;}
        .item .title >div:nth-of-type(2){font-size: 18px;color: #101010;font-weight: 600;margin-left: 15px;}
        .item .total{display: flex;flex-direction: row;align-items: center;padding-top: 20px;justify-content: space-between;padding-bottom: 10px;border-bottom: 1px solid #E6E6E6;}
        .item .total >div:nth-of-type(1){font-size: 16px;color: #666666;}
        .item .total >div:nth-of-type(2){font-size: 36px;color: #101010;font-weight: 600;}

        .item .baseItem{display: flex;flex-direction: row;align-items: center;padding-top: 15px;justify-content: space-between;}
        .item .baseItem >div:nth-of-type(1){font-size: 16px;color: #666666;}
        .item .baseItem >div:nth-of-type(2){font-size: 16px;color: #666666;font-weight: 600;}


        .other_content_right{flex:1;height: 454px;background-color: #fff;border-radius: 20px;margin-left: 18px;}