body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f5f5f5;
  }
  
  .content{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
  }
  
  [v-cloak] {
    display: none;
  }
  
  .custom-width {
    width: 500px; /* 您希望的宽度 */
  }
  
  .custom-width-cps{
    width: 400px; /* 您希望的宽度 */
  }