.idea/
*.py[aco]
db.sqlite*
static/mall/qrcodes/*
uploads/*
#*/migrations/*
*.data
*.rej
patch
settings.ini
*.log
.env
env.yml
media/*
static/config.json
*.patch
*sqlite*
.vscode/*
venv/*
others/*
generate_*
config.py
streets.json
blind_box

