name: new config
DATABASES:
  use: 'dj'
  dj:
    default:
      ENGINE: 'django.db.backends.mysql'
      NAME: 'db_szpw'
      USER: 'root'
      PASSWORD: 'mjAzGQvYJRhJKwV3sjcC'
      HOST: '172.16.0.14'
      PORT: 3306
      OPTIONS:
        charset: 'utf8mb4'
wxa_share_url: 'pages/index/index'
static_root: '/disk4/www/szpw.yonp.top/static'
express_api_appcode: '55c90303a3dc468ba9051fb8e23a011a'
cache_redis : 'redis://172.16.0.10/0'
cache_config:
  cache_redis: 'redis://172.16.0.10/0'
  max_connections: 15000
template_url: 'https://uuu.kafei.chat'
media_url: 'https://uuu.kafei.chat/media/'
admin_url_site_name: 'adminszpw'
admin_url_site_name_tg: 'adminszpwqasdqwe678'
set_site_name: '后台管理'
tiktok_v: 1.0.0
DEBUG: False
baidukey: UUpjhqRVsjMbDww20ujYe8bBrnqUDjtx
gaodekey: 364049593d46eb2fe06e27b8a11705f9
pay:
   default_pay_type: 7
redis:
    host: 172.16.0.10
    db: 0
    prefix: szpw
# 客服
client:
   url: http://
   desc:
      - 1、微信搜索并关注优优卡公众号, 将咨询问题或反馈建议, 编辑留言至公众号对话框
      - 2、保存图片或直接微信扫码即可识别到优优卡公众号
mall:
  order:
    # 自动确认收货时间
    auto_confirm_days: 7
tiktok:
  debug: False
  uids: []
lp_pages:
  audit_version: 1.0.0
  default:
    index_page: index
    emall_page: emall
    pri_page: app_pri
    play_page: p0054
  audit-page:
    index_page: index_aud
    emall_page: emall_aud
    pri_page: app_pri_aud
    play_page: p0055
pages:
  default:
    index_page: app_index
    emall_page: app_emall
    pri_page: app_pri
    play_page: p0054
  audit-page:
    index_page: app_index_aud
    emall_page: app_emall_aud
    pri_page: app_pri_aud
    play_page: p0055
  audits:
    # define multiple audit versions simultaneously
    1.0.0:
      ios: 1
      android:
        # all means all android are in audit, firstly match
        - all
        # disabled means disable android, secondly match
        #- disabled
        # xiaomi brand list, xiaomi, redmi, last match
        #- redmi
        #- xiaomi
        #- MI
        # huawei brand
        #- huawei
        #- sea
        # vivo brand
        #- vivo
        # oppo
        #- oppo
celery:
  TIMEZONE : "Asia/Shanghai"
  TASK_TRACK_STARTED : True
  TASK_TIME_LIMIT : 1800
  broker_url : 'redis://172.16.0.10/1'
  result_backend : 'redis://172.16.0.10/1'
  result_expires: 1200
  worker_concurrency: 2
Q_CLUSTER:
  name: 'schedule ticket'
  workers: 4
  retry: 800
  recycle: 700
  timeout: 600
  save_limit: 500
  queue_limit: 100
  redis:
    host: '127.0.0.1'
    db: 1
appids:
  - szpw
open_captcha:
  code: 0 # 1需要, 0不需要, 2拒绝
alibaba_sms:
  access_id: 'LTAI5tNsR'
  access_secret: 'Zr2F3DxdvOVmSoZt2'
  endpoint: 'dysmsapi.aliyuncs.com'
  template_code: 'SMS_'
  template_login_code: 'SMS_3'
  template_mz_code: 'SMS_'
  template_ticket_code: 'SMS_'
  signName: ''
  endpoint_cert: ''
  auth_code: ''
pika:
  host: 172.16.0.10
  port: 9221
  db: 1
ks_third:
  component_app_id: 'ks6'
  api_url: 'http://mp.ccvp.top'
dynamics_share_minute: 120
tencent:
  SecretKey: 'BBzc4MRM5e2ED2e3LS***'
  SecretId: 'AKIDjRzKSSH2d3LRK3c0CE***'
  appid: '14010***'
  sign: '深圳广电***'
  template: '249***'
  express_secret_key: 'OzyJMcPwTiDN***'
  express_secret_id: '5bSbrFL***'
  agent_token: 'RBqmNkTMF9okert***'
  assistant_id: 'XbX7hz***'
  mood_assistant_id: 'lzqwl***'
  mood_agent_token: 'drmiZbPTe7SDAM***'
  agent_url: 'https://yuanqi.tencent.com/openapi/v1/agent/chat/completions'
cy:
  log_debug: True
  host_debug: False
