name: new config
DATABASES:
  use: 'test'
  dj:
    default:
      ENGINE: 'django.db.backends.mysql'
      NAME: 'db_show_new'
      USER: 'root'
      PASSWORD: 'root'
      HOST: '127.0.0.1'
      PORT: 3306
      OPTIONS:
        charset: 'utf8mb4'
  test:
    default:
      ENGINE: 'django.db.backends.sqlite3'
      NAME: 'db_show_new.sqlite3'
static_root: 'c:/static'
express_api_appcode: '****'
template_url: 'http://127.0.0.1'
media_url: 'https://www.x.com/media/'
wxa_share_url: 'pages/index/index'
admin_url_site_name: 'admincts'
admin_url_site_name_tg: 'adminctstg7878'
set_site_name: '后台管理'
cache_config:
  cache_redis: 'redis://127.0.0.1:6379/4'
  max_connections: 5000
DEBUG: True
pay:
  default_pay_type: 6
redis:
  host: 127.0.0.1
  prefix: myk
pika:
  host: 127.0.0.1
  port: 6379
# 客服
client:
  url: http://
  desc:
    - 1、微信搜索并关注优优卡公众号, 将咨询问题或反馈建议, 编辑留言至公众号对话框
    - 2、保存图片或直接微信扫码即可识别到优优卡公众号
mall:
  order:
    # 自动确认收货时间
    auto_confirm_days: 7
lp_pages:
  audit_version: 1.0.0
  default:
    index_page: index
    emall_page: emall
    pri_page: app_pri
    play_page: p0054
  audit-page:
    index_page: index_aud
    emall_page: emall_aud
    pri_page: app_pri_aud
    play_page: p0055
tiktok_v: 1.0.6
celery:
  TIMEZONE: "Asia/Shanghai"
  TASK_TRACK_STARTED: True
  TASK_TIME_LIMIT: 1800
  broker_url: 'redis://127.0.0.1:6379/5'
  result_backend: 'redis://127.0.0.1:6379/6'
  result_expires: 3600
  worker_concurrency: 2
tiktok:
  public_key:
  private_key:
alibaba_sms:
  access_id: '*****'
  access_secret: '*****'
  endpoint: 'dysmsapi.aliyuncs.com'
  endpoint_cert: 'dytnsapi.aliyuncs.com'
  template_code: '*****'
  template_login_code: '*****'
  template_mz_code: '*****'
  template_ticket_code: '*****'
  signName: '*****'
  auth_code: '*****'
maizuo:
  login_url: 'http://yd.gxxsh.com.cn/mz'
  name: '登录名字'
  pwd: '登录密码'
  re_login_day: 9
baidukey: ****
gaodekey: ****
ks_third:
  component_app_id: 'ks*****'
  api_url: 'http://****'
dynamics_share_minute: 120