.material-container{
    width: 780px;
    height: 500px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    overflow-y: auto;
    overflow-x: hidden;
}
.material-item-wrapper-news{
    column-count:3;
    column-gap: 10px;
    counter-reset: item-counter;
}
.material-item-news{
    margin: 0 0 15px 0;
    border: 1px solid #dce4ec;
    box-sizing: border-box;
    break-inside: avoid;
    counter-increment: item-counter;
    overflow: hidden;
}
.news-item {
    padding: 5px 5px 0 5px;
    width: 100%;
    position: relative;
}
.news-item  img{
    width: 100%;
}
.news-item>h3{
    position: absolute;
    bottom: 5px;
    background: rgba(0,0,0,.3);
    width: 96%;
    color: white;
    text-indent: 10px;
    font-size: 12px;
    padding: 2px 0;
}
.small-news{
    display: flex;
    border-top: 1px solid #dce4ec;
    border-bottom: 1px solid #dce4ec;
    padding-bottom: 5px;
}
.small-news>img{
    width: 60px;
    height: 60px;
}
.small-news>h3{
    display: block;
    position: initial;
    background-color: white;
    color: black;
}

.material-item-wrapper-image{
    display: flex;
    flex-wrap: wrap;
}
.material-item-image{
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 220px;
    height: 230px;
    overflow-y: hidden;
    border: 1px solid #dce4ec;
}
.material-item-image>div{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.material-item-image img{
    width: 100%;
}
.material-item-image>h3{
    word-wrap: break-word;
}
.material-item-wrapper-voice{
    display: flex;
    flex-wrap: wrap;
}
.material-item-voice{
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 240px;
    height: 72px;
    overflow-y: hidden;
    border: 1px solid #dce4ec;
}
.icon_audio_msg{
    cursor: pointer;
    background: url(images/media_z393f6c.png) 0 -326px no-repeat;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
}
.material-item-voice>div{
    float: left;
    position: relative;
    height: 64px;
}
.material-item-voice-content{
    width: 70%;
}
.material-item-voice-content>h3:nth-child(1){
    position: absolute;
    top: 0;
    word-wrap: break-word;
    text-indent: 5px;
}
.material-item-voice-content>h3:nth-child(2){
    position: absolute;
    bottom: 0;
    word-wrap: break-word;
    text-indent: 5px;
}

.material-item-wrapper-video{
    display: flex;
    flex-wrap: wrap;
}
.material-item-video{
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 240px;
    height: 72px;
    overflow-y: hidden;
    border: 1px solid #dce4ec;
}
.icon_audio_msg{
    cursor: pointer;
    background: url(images/media_z393f6c.png) 0 -326px no-repeat;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
}
.material-item-video>div{
    float: left;
    position: relative;
    height: 64px;
}
.material-item-video-content{
    width: 70%;
}
.material-item-video-content>h3:nth-child(1){
    position: absolute;
    top: 0;
    word-wrap: break-word;
    text-indent: 5px;
}
.material-item-video-content>h3:nth-child(2){
    position: absolute;
    bottom: 0;
    word-wrap: break-word;
    text-indent: 5px;
}
.icon_video_msg{
    cursor: pointer;
    background: url(images/video.png) no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
}

.selected-material{
    border: 2px solid #ef6f6f;
    border-radius: 3.625%;
}
.media_cover{
    max-width: 317px;
}
.frm_label{
    width: 10em!important;
}